<ion-view>
    <ion-content class="has-header">
        <!-- <span ng-repeat="feedObj in feeds"  "> -->

                <div class="row card"  ng-repeat="news in saves">
                    <div class="col col-90 " >
                        <div class="item item-stable item-text-wrap">
                            {{news.title}}
                        </div>
                        <div class="item  item-text-wrap">        
                            <small>{{news.contentSnippet}}</small>  
                        </div>
                    </div>
                </div>

            <!--
            {{test}}
            -->
        <!-- </span> -->
    </ion-content>
</ion-view>
